.mainLogo{
    width: auto;
    height: 100px;
    float: left;
}
.navDiv{
    display: flex;
    position: absolute;
    right: 150px;
    top: 35px;
}

h1{
    font-family: "Exo 2", sans-serif;
    font-size: 50px;
    font-weight: 800;
}

p{
    font-size: 17px;
    text-align: justify;
}

.myProfileImg{
    position: relative;
    width: 550px;
    height: 650px;
    bottom: 45px;
}

h2{
    font-family: "Exo 2", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: var(--bg-red);

    margin: 50px 0px;
}

h6{
    font-size: 14px;
    font-weight: 900;
    color: var(--my-white);
    margin-bottom: 20px;
}

h5{
    font-family: "Exo 2", sans-serif;
    font-size: large;
}